@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Localizer["RealTimeTemperature"]</title>

    <link href="~/lib/animate.css/animate.css" rel="stylesheet" />

    @if (ViewBag.CurrentTheme == "dark")
    {
        <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2-dark.css" rel="stylesheet" />
    }
    else
    {
        <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
    }

    <script type="module" src="~/lib/chart.js/chart.umd.js"></script>
    <script src="~/js/RealTimeChart.js"></script>
    <script src="~/js/ThemeSwitcher.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jspdf/jspdf.umd.js"></script>

</head>
<body data-bs-theme="light">
    <!-- SweetAlert resources -->
    <span class="d-none" id="lblNotFoundAnyDevice">@Localizer["NotFoundAnyDevice"]</span>
    <span class="d-none" id="lblTemperatureLimits">@Localizer["TemperatureLimits"]</span>
    <span class="d-none" id="lblNotify">@Localizer["Notify"]</span>
    <span class="d-none" id="lblCancel">@Localizer["Cancel"]</span>
    <!-- SweetAlert resources -->

    <span class="d-none" id="currentCompanyId">@ViewBag.CurrentCompanyId</span>
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="mb-0">@Localizer["RealTimeTemperature"] 
                    <i id="temperatureAlertIcon" class="d-none fa-solid fa-triangle-exclamation text-danger animate__animated animate__flash animate__infinite animate__slow" style="cursor: pointer;" title="@Localizer["TempOutOfParameters"]"></i>
                </h1>
            </div>
            <div class="col-auto mt-3 mb-3">
                <div class="card rounded-3 shadow-sm">
                    <div class="card-header bg-primary py-3">
                        <h6 class="my-0 fw-normal text-center">@Localizer["RealTemp"] (ºC)</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-0 text-center">
                            <li id="realTemp">0</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-auto">
                <div class="btn-group mb-3">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" data-bs-toggle="dropdown" aria-expanded="false" id="selectedDevice">
                        <i class="fa-solid fa-mobile-screen mx-1"></i> @Localizer["Devices"]
                    </button>
                    <ul class="dropdown-menu" id="devicesList">
                    </ul>
                </div>
                <div class="btn-group mx-2 mb-3">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-file-export mx-1"></i> @Localizer["Export"]
                    </button>
                    <ul class="dropdown-menu">
                        <li><button id="exportPDF" class="dropdown-item" type="button"><i class="fa-solid fa-file-pdf mx-1"></i> @Localizer["AsPDF"]</button></li>
                        <li><button id="exportImage" class="dropdown-item" type="button"><i class="fa-solid fa-image mx-1"></i> @Localizer["AsImage"]</button></li>
                        <li><button id="exportCSV" class="dropdown-item" type="button"><i class="fa-solid fa-file-excel mx-1"></i> @Localizer["AsCSV"]</button></li>
                    </ul>
                </div>
                <button class="btn btn-outline-warning mb-3" id="btnTempNotification" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true">
                    <i class="fa-solid fa-bell"></i>
                </button>
            </div>
        </div>
        <canvas id="realTimeChart" width="800" height="280"></canvas>
    </div>
</body>
</html>