@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/_Layout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <title>Nexum</title>
</head>

<script src="~/lib/popper.js/umd/popper.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/js/ThemeSwitcher.js"></script>
<script src="~/js/_Layout.js"></script>

<body>
    <div class="spinner-wrapper" id="loadingSpinner" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-light">
            <div class="container-fluid justify-content-start">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </button>

                <div class="dropdown ms-auto">
                    <button class="btn d-flex align-items-center text-decoration-none fs-6 dropdown-toggle" type="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="profilePicture" src="" width="40" height="40" class="rounded-circle me-2 img-fluid">
                    </button>
                    <ul class="dropdown-menu text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser">
                        <li>
                            <div class="d-flex justify-content-end">
                                <div class="form-check form-switch mx-3">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           id="SwitchTheme" />
                                    <label class="form-check-label" for="SwitchTheme">
                                        <i class="fa-regular fa-sun"></i>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="text-center mt-2">
                                <strong>@Localizer["Language"]</strong>

                                <div class="d-flex flex-row justify-content-between mx-4 mt-2">
                                    <img src="~/images/brazil.png" class="language-icon border border-2 border-dark rounded-circle img-fluid" width="32px" height="32px" style="cursor: pointer" data-culture="pt-BR" title="@Localizer["Portuguese"]">
                                    <img src="~/images/unitedstates.png" class="language-icon border border-2 border-dark rounded-circle img-fluid" width="32px" height="32px" style="cursor: pointer" data-culture="en-US" title="@Localizer["English"]">
                                    <img src="~/images/spain.png" class="language-icon border border-2 border-dark rounded-circle img-fluid" width="32px" height="32px" style="cursor: pointer" data-culture="es-ES" title="@Localizer["Spanish"]">
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <i class="fa-solid fa-user"></i>
                                @Localizer["Profile"]
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Layout" asp-action="Logout">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                @Localizer["Signout"]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" style="width: 280px;">
        <button class="btn w-100 d-flex align-items-center mb-3 mb-md-0 me-md-auto" type="button">
            <img src="~/images/n_shortcut_icon.png" alt="" width="50" height="50" class="rounded-circle me-4">
            <span class="fs-4">Nexum</span>
        </button>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto mt-3">
            <li class="nav-item mb-4">
                <a href="/Home" class="btn w-100 rounded text-start fs-5">
                    <i class="fa-solid fa-chart-line"></i>
                    @Localizer["RealTimeMonitoring"]
                </a>
            </li>
            <li class="nav-item mb-4">
                <a href="/Home" class="btn w-100 rounded text-start fs-5">
                    <i class="fa-solid fa-chart-pie"></i>
                    @Localizer["History"]
                </a>
            </li>
            <li class="nav-item mb-4">
                <a href="/Home" class="btn w-100 rounded text-start fs-5">
                    <i class="fa-solid fa-building"></i>
                    @Localizer["Company"]
                </a>
            </li>
            <li class="nav-item mb-4">
                <a href="/Home" class="btn w-100 rounded text-start fs-5">
                    <i class="fa-solid fa-circle-info"></i>
                    @Localizer["AboutUs"]
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <button class="btn d-flex align-items-center text-decoration-none fs-6 dropdown-toggle" type="button" id="dropdownCompanies" data-bs-toggle="dropdown" aria-expanded="false">
                @* <img src="https://via.placeholder.com/150x150/3b2d50/bdbac1?text=DAVIDSONBPE" width="32" height="32" class="rounded-circle me-2"> *@
                <strong>Company</strong>
            </button>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownCompanies">
                <li>
                    <a class="dropdown-item" href="#">
                        Company 1
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        Company 2
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" id="profileModalContent">
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>