@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    Layout = null;
}

<script src="https://accounts.google.com/gsi/client" async defer></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/images/n_shortcut_icon.png")" crossorigin="anonymous">
    <link href="~/css/LoginRegister.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @* <link href="~/lib/datatables/datatables.css" rel="stylesheet" />  *@

    @if (ViewBag.CurrentTheme == "dark")
    {
        <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2-dark.css" rel="stylesheet" />
    }
    else
    {
        <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
    }

    <title>Nexum</title>
</head>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/lib/jwt-decode/build/cjs/index.js"></script>
<script src="~/js/ThemeSwitcher.js"></script>
<script src="~/js/Login.js"></script>
@* <script type="module" src="~/lib/chart.js/chart.umd.js"></script>
<script src="~/lib/datatables/datatables.js"></script> *@
<script src="~/lib/sweetalert2/sweetalert2.js"></script>

<body data-bs-theme="light"> 
    <!-- SweetAlert resources -->
    <span class="d-none" id="lblForgotPassword">@Localizer["ForgotPassword"]</span>
    <span class="d-none" id="lblInvalidEmail">@Localizer["InvalidEmail"]</span>
    <span class="d-none" id="lblSendPasswordResetLink">@Localizer["SendPasswordResetLink"]</span>
    <!-- SweetAlert resources -->

    <div class="spinner-wrapper" id="loadingSpinner" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
                <div class="featured-image">
                    <img src="@Url.Content("~/images/n_white.png")" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text">
                        @if (TempData["AuthenticationMessage"] != null)
                        {
                            <div id="sessionAlert" class="alert alert-danger fade show" role="alert">
                                <strong>@Localizer["AuthenticateAgain"]</strong>
                            </div>
                        }
                        <h2>@Localizer["Login"]</h2>
                        <p>@Localizer["WelcomeBack"]</p>
                    </div>

                    <form novalidate id="loginForm">
                        <div class="form-floating mb-3">
                            <input type="email" id="txtEmail" class="form-control fs-6 p-12" placeholder="@Localizer["Email"]" required maxlength="80">
                            <label for="email" class="form-label">@Localizer["Email"]</label>
                            <div class="invalid-feedback">@Localizer["InvalidEmail"]</div>
                        </div>

                        <div class="form-floating mb-1">
                            <input type="password" id="txtPassword" class="form-control fs-6 p-12" placeholder="@Localizer["Password"]" required maxlength="32">
                            <label for="password" class="form-label">@Localizer["Password"]</label>
                            <div class="invalid-feedback">@Localizer["InvalidPassword"]</div>
                        </div>

                        <div class="input-group mb-2 d-flex justify-content-between">
                            <div class="forgot ms-auto">
                                <small><a href id="btnForgotPassword">@Localizer["ForgotPassword"]</a></small>
                            </div>
                        </div>
                    </form>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-6" id="btnLogin">@Localizer["Signin"]</button>
                    </div>

                    <div class="input-group mb-2">
                        <button class="btn btn-lg btn-light w-100 fs-6" id="btnGoogleLogin">
                            <img src="@Url.Content("~/images/google.png")" style="width:20px" class="me-2">
                            <small>@Localizer["GoogleSignin"]</small>
                        </button>
                    </div>
                    <div class="row">
                        <small>@Localizer["DontHaveAccount"] <a href="/Signup/Index">@Localizer["Signup"]</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>