@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Localizer["Historical Chart"]</title>

    <link href="~/css/HistoricalChart.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

    @if (ViewBag.CurrentTheme == "dark")
    {
        <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2-dark.css" rel="stylesheet" />
    }
    else
    {
        <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
    }

    <script type="module" src="~/lib/chart.js/chart.umd.js"></script>
    <script src="~/js/HistoricalChart.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/ThemeSwitcher.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>
<body data-bs-theme="dark">
    <!-- SweetAlert resources -->
    <span class="d-none" id="lblWarning">@Localizer["lblWarning"]</span>
    <span class="d-none" id="textWarning">@Localizer["textWarning"]</span>
    <!-- SweetAlert resources -->

    <div class="container-fluid">
        <h1 class="text-center">@Localizer["HistoricalChart"]</h1>
        <form id="filterForm">
            <div class="row align-items-end">
                <div class="col-6 col-sm-4 col-md-4 mb-3 mb-sm-0">
                    <label for="startDate">@Localizer["StartDate"]:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control">
                </div>
                <div class="col-6 col-sm-4 col-md-4 mb-3 mb-sm-0">
                    <label for="endDate">@Localizer["EndDate"]:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control">
                </div>
                <div class="col-12 col-sm-4 col-md-4 d-flex align-items-end justify-content-sm-end">
                    <button type="submit" id="btnApply" class="btn btn-primary w-100 w-sm-auto">@Localizer["ApplyFilters"]</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="exportOptions" data-bs-toggle="dropdown" aria-expanded="false">
                            @Localizer["Export"]
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="exportOptions">
                            <li><button class="dropdown-item" id="exportImage">@Localizer["asImage"]</button></li>
                            <li><button class="dropdown-item" id="exportPDF">@Localizer["asPDF"]</button></li>
                            <li><button class="dropdown-item" id="exportCSV">@Localizer["asCSV"]</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col-12 canvas-container">
                    <canvas id="historicalChart"></canvas>
                </div>
            </div>
        </form>
    </div>
</body>
</html>