@model IEnumerable<NexumTech.Infra.Models.EmployeesViewModel>;

@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/lib/datatables/datatables.css" rel="stylesheet" />

@if (ViewBag.CurrentTheme == "dark")
{
    <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2-dark.css" rel="stylesheet" />
}
else
{
    <link id="sweetalert-css" href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
}

<script src="~/lib/sweetalert2/sweetalert2.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/datatables/datatables.js"></script>
<script src="~/js/ThemeSwitcher.js"></script>
<script src="~/js/Employees.js"></script>

<body data-bs-theme="light">
    @Html.Hidden("companyId", ViewBag.CompanyId, new { @id = "companyId" })
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>
                    <a class="btn mx-1" href="/Company">
                        <i class="fa-solid fa-arrow-left"></i>
                    </a>
                    <i class="fa-solid fa-people-group"></i>
                    @Localizer["Employees"]
                </span>
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-wrench"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#employeesModal">
                                <i class="fa-solid fa-plus"></i>
                                @Localizer["NewEmployee"]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body py-4">
                <table id="employeesTable" class="table table-striped display w-100">
                    <thead>
                        <tr>
                            <th class="text-center">@Localizer["Id"]</th>
                            <th class="text-center">@Localizer["Name"]</th>
                            <th class="text-center">@Localizer["Email"]</th>
                            <th class="text-center">@Localizer["Delete"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var employee in Model)
                        {
                            <tr>
                                <td class="text-center">@employee.Id</td>
                                <td class="text-center">@employee.Username</td>
                                <td class="text-center">@employee.Email</td>
                                <td class="text-center">
                                    <a class="btn btn-outline-danger btn-remove-employee" data-employee-id="@employee.Id">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="employeesModal" tabindex="-1" aria-labelledby="employeesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" id="employeesModalContent">
            </div>
        </div>
    </div>
</body>



